.mycomment {
    display: flex;
    background-color: #eee;
    padding: 10px;
    font-size: 16px;
    border-bottom: 3px solid #fff;
    margin-bottom: 50px;
}

.mycomment-img {
    width: 50px;
    height: 50px;
    margin-top: 4px;
    margin-right: 10px;
}

.mycomment-info {
    width: 100%;
}

.textbox {
    width: 100%;
    font-size: 16px;
    border: 1px #bbb solid;
    padding: 3px 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.error {
    position: relative;
    margin-top: -10px;
    color: red;
    font-size: 13px;
    padding-left: 5px;
    display: none;
}

.sendcomment {
    font-size: 17px;
    cursor: pointer;
    text-decoration: underline;
}